:root {
    --main-bg-color: #161920;
    --secondary-bg-color: #1D2029;
    --main-color: #F66236;
    --secondary-color: #F8F8F8;
    --third-color: #000000;
}

.App{
    text-align: center;
    background-color: var(--main-bg-color);
    min-height: 100vh;
    width: 100%;
    color: white;
    font-size: calc(10px + 2vmin);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.Header {
    background-color: var(--secondary-bg-color);
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 2rem;
    /* margin: 0 2rem; */
    width: 100%;

    .connect_wallet {
        background-color: var(--main-color);
        color: var(--secondary-color);
        border: none;
        border-radius: 35px;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        font-weight: 700;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: var(--secondary-color);
            color: var(--main-color);
        }
    }
}